html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: rgb(0, 150, 255);
  --background-color-sections: rgb(255, 245, 180);
  --text-color: black;
}

body {
  font-size: 0.9rem;
  background-color: white;
  font-family: "Montserrat", sans-serif;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 5rem;
  gap: 1rem;
  font-size: 0.8rem;
}

.nav-item,
.footer-item {
  color: var(--text-color);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: color 0.2s ease-in-out;
}

.nav-item:hover,
.footer-item:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.active {
  text-decoration: underline;
  color: var(--primary-color);
}

.main-heading {
  font-family: "Style Script", cursive, sans-serif;
  font-size: 2rem;
}

.section {
  margin: 2rem 0;
}

.section-heading {
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin: 2rem 0 1rem;
  width: fit-content;
  border-bottom: 1px solid var(--primary-color);
}

header {
  text-align: center;
  box-sizing: border-box;
  background-color: var(--background-color-sections);
  padding: 2rem 0;
}

header p {
  padding: 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin: 0;
  padding: 1rem 0;
}

.image-div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.image {
  width: 100%;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

.hours-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  width: 300px;
}

.note {
  font-size: 0.5rem;
  padding-top: 0.5rem;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: var(--background-color-sections);
  padding: 2rem 0;
  text-align: center;
  margin-top: 2rem;
}

.footer-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.8rem;
  gap: 1rem;
}

.footer p {
  color: var(--text-color);
  font-size: 0.8rem;
  margin: 1rem 0;
}

@media only screen and (min-width: 600px) {
  .nav-bar,
  .footer-bar {
    font-size: 1rem;
    gap: 2rem;
  }

  .main-heading {
    font-size: 3rem;
    line-height: 1.5rem;
  }

  .section-heading {
    font-size: 1.5rem;
  }

  body {
    font-size: 1.2rem;
  }

  .content {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }

  .sauna {
    flex-direction: row-reverse;
  }

  .image-div,
  .text {
    width: 50%;
  }

  .footer-bar {
    flex-direction: row;
  }

  .footer {
    margin-top: 4rem;
    gap: 3rem;
  }
}

@media only screen and (min-width: 1000px) {
  .nav-bar,
  .footer-bar {
    gap: 4rem;
  }

  .main-heading {
    font-size: 4rem;
    line-height: 6.5rem;
  }

  .section-heading {
    font-size: 2rem;
  }

  body {
    font-size: 1.5rem;
  }

  .content {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }

  .image-div,
  .text {
    width: 50%;
  }

  .image {
    max-width: 50%;
  }

  .note {
    font-size: 1rem;
  }

  .sauna {
    flex-direction: row-reverse;
  }
}
