html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  color: black;
  font-family: "Montserrat", sans-serif;
  --primary-color: rgb(0, 150, 255);
  --background-color-sections: rgb(255, 245, 180);
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 5rem;
  gap: 1rem;
  font-size: 0.8 rem;
}

.nav-item {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.nav-item:hover {
  color: var(--primary-color);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.offer {
  text-decoration: underline;
  color: var(--primary-color);
}

.main-heading {
  font-family: "Style Script", cursive, sans-serif;
  font-size: 3rem;
}

.section {
  margin: 2rem 0;
}
.section-heading {
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin: 2rem 0.1 rem 0;
  width: fit-content;
  border-bottom: 1px solid var(--primary-color);
  margin-bottom: 1rem;
}

header {
  text-align: center;
  box-sizing: border-box;
  background-color: var(--background-color-sections);
  padding: 2rem 0;
}

header p {
  padding: 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 1rem 0;
  margin: 1rem;
}

.image-div {
  width: 50%;
}

.image {
  max-width: 100%;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  gap: 2rem;
  width: 50%;
}

.hours-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  min-width: 4rem;
}

.note {
  font-size: 0.5rem;
  padding-top: 0.5rem;
}

@media only screen and (min-width: 600px) {
  .content {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }
  .sauna {
    flex-direction: row-reverse;
  }
}

@media only screen and (min-width: 1000px) {
  body {
    font-size: 1rem;
  }

  .nav-bar {
    gap: 2rem;
  }

  .main-heading {
    font-size: 4rem;
    line-height: 4rem;
  }

  .section-heading {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .content {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }

  .text {
    font-size: 1.5rem;
  }

  .image {
    max-width: 80%;
  }

  .note {
    font-size: 1rem;
  }

  .sauna {
    flex-direction: row-reverse;
  }
}
