html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 0.8rem;
  background-color: white;
  color: black;
  font-family: "Montserrat", sans-serif;
  --primary-color: rgb(0, 150, 255);
  --background-color-sections: rgb(255, 245, 180);
}

.data-protection-heading {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin: 1rem 0;
  width: fit-content;
  border-bottom: 1px solid var(--primary-color);
  margin-bottom: 1rem;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 5rem;
  gap: 1rem;
  font-size: 0.8 rem;
  background-color: var(--background-color-sections);
}

.nav-item,
.footer-item {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.nav-item:hover {
  color: var(--primary-color);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.data-protection {
  text-decoration: underline;
  color: var(--primary-color);
}

.data-protection-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  gap: 2rem;
  margin: 2rem auto;
  max-width: 800px;
  width: 100%;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-size: cover;
  background-color: var(--background-color-sections);
  padding: 2rem;
  text-align: center;
  margin-top: 2rem;
}

.footer-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 5rem;
  font-size: 0.8rem;
  gap: 1rem;
}

.footer p {
  color: var(--text-color);
  font-size: 0.8rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.footer-item:hover {
  color: var(--primary-color);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

@media only screen and (min-width: 600px) {
  .data-protection-heading {
    font-size: 3rem;
  }

  .nav-bar,
  .footer-bar {
    gap: 2rem;
    font-size: 1rem;
  }

  .footer-bar {
    flex-direction: row;
  }
}
.footer {
  margin-top: 4rem;
  padding: 3rem 0;
  gap: 3rem;
}

@media only screen and (min-width: 1000px) {
  .nav-bar,
  .footer-bar {
    gap: 4rem;
  }

  .footer {
    margin-top: 6rem;
  }
}
