html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: rgb(0, 150, 255);
  --background-color-sections: rgb(255, 245, 180);
  --text-color: black;
}

body {
  font-size: 0.8rem;
  background-color: white;
  font-family: "Montserrat", sans-serif;
}

/* --- TEXTELEMENTE & INHALT --- */
.heading1 {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  width: fit-content;
  border-bottom: 1px solid var(--primary-color);
  margin: 2rem 0 0.5rem;
}

.text-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  width: 85%;
  max-width: 1200px;
  margin: 10px auto;
  padding: 2rem 0;
  text-align: left;
}

.text-block h2,
.text-block h3 {
  margin-top: 1rem;
}

.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  gap: 1rem;
  font-size: 0.8rem;
  text-align: center;
  background-color: var(--background-color-sections);
}

.nav-item,
.footer-item {
  color: var(--text-color);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: color 0.2s ease-in-out;
}

.nav-item:hover,
.footer-item:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.active {
  text-decoration: underline;
  color: var(--primary-color);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: var(--background-color-sections);
  padding: 2rem 0;
  text-align: center;
  margin-top: 2rem;
}

.footer-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.8rem;
  gap: 1rem;
}

.footer p {
  color: var(--text-color);
  font-size: 0.8rem;
  margin: 1rem 0;
}

@media only screen and (min-width: 600px) {
  .nav-bar,
  .footer-bar {
    gap: 2rem;
    font-size: 1rem;
  }

  .footer-bar {
    flex-direction: row;
  }

  .footer {
    margin-top: 4rem;
    gap: 3rem;
  }
}

@media only screen and (min-width: 1000px) {
  .nav-bar,
  .footer-bar {
    gap: 4rem;
  }
}
